body{
    text-align: center;
}

img {

    height: 260px;
    width:260px;

}
main {
    color: white;
    text-align: left;
    padding: 24px;
    margin: 12px auto 12px auto;
    border-bottom: 3px solid black;
    border-radius: 4px;
    background-color: rgb(53, 56, 148);
    width: 700px;

}
ul{
    padding: 0px;

}
li{
    margin: 0px;
    list-style-type: none;
 
    padding: 8px;
}
.highlight{
color:rgba(255, 255, 163, 0.738);
font-weight:bold;


}