body {
    background-color: rgb(233, 215, 207);
    text-align: center;
    color: rgb(83, 75, 75);
    margin-top: 20px;
  }

h1 {
    font-size: 48px;
    color: rgb(71, 62, 62);
    margin: 12px 0;
}
#todays-challenge{
    font-size: 48px;
    color: rgb(71, 62, 62);
    margin: 12px 0;

}
main{
padding:20px;
    margin:190px  auto auto auto;
    width: 60%;
    text-align: center;
    border: 4px solid black;
}
p{
   font-size: 14px;
}
img{
    margin-top: -128px;
height: 200px;
width: 200px;
    border-radius: 50%;
    border: 5px solid black;

}
a {
margin:32px;
    padding: 12px 48px;
    background-color: rgb(167, 1, 78);
    color: white;
    border: 1px solid rgb(167, 1, 78);
    border-radius: 4px;
    font-size: 24px;
}

a:hover {
    background-color: rgb(180, 12, 90);
    text-decoration: none;
}



li {
    list-style-type: none;

    padding: 16px;
    margin: 32px;
    background-color: rgb(223, 136, 124);
    border-radius: 6px;
}